{% extends 'base.html' %}

    
    {% block content %}

    <div class="text-center">
        <p>
            {% if request.user.is_authenticated %}
            Hello {{request.user.username}}
            {% else %}
            Hello Anonymous User
            {% endif %}
        </p>
        <a class="btn btn-primary" href = "/create"> Create a Todo </a>
    </div>
    <div class="col-4 offset-4">
        {% for todo in todos %}
            <div class="card mt-3">
                
                <div class="card-header">
                    <a href="/{{todo.id}}">{{todo.name}}</a> 
                </div>
                <div class="card-body">
                    it's due date is {{todo.due_date}}
                </div>
                
            </div>
        {% endfor %}
    </div>

{% endblock content %}
    